# helm repo add nats https://nats-io.github.io/k8s/helm/charts/
# helm upgrade --install -f utils/deployments/stack/nats_values.yml nats nats/nats -n valkey

# refer: https://github.com/nats-io/k8s/tree/main/helm/charts/nats
# Enable JetStresam 
config:
  jetstream:
    enabled: true
    fileStore:
      pvc:
        size: 10Gi
        storageClassName: longhorn
  cluster:
    name: 125-nats-cluster
    enabled: false
    replicas: 1
container:
  # env:
    # Different from k8s units, suffix must be B, KiB, MiB, GiB, or TiB
    # Should be ~80% of memory limit
    # GOMEMLIMIT: 820 Mi 
  merge:
    # Recommended minimum: at least 2 CPU cores and 8Gi memory for production JetStream clusters
    resources:
      requests:
        cpu: "1"
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 1Gi
# Enable Prometheus exporter 
promExporter:
  enabled: true
  podMonitor:
    enabled: true
# Expose NATS via NodePort
service:
  merge:
    spec:
      type: NodePort
      ports:
        - name: nats
          port: 4222
          nodePort: 30001
# Disable Nats-Box
natsBox:
  enabled: true